* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1D1E49;
    color: white;
    font-family: sans-serif;
    padding: 90px 20px 0;
}

.header {
    background-color: #17183B;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0; 
}

#ImgLogo{
    position: relative;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: 5px;
    left: 5px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.logo{
    font-size: 40px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 50px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 70px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 5px;
}

.nav-menu-link:hover{
    background-color: #292A66;
    transition: 0.5s;
}

.main{
    display: flex;
    justify-content: center;
}

.Titulo{
    position: fixed;
}

.Menu{
    top: 40px; 
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border: 5px solid #E74BD7;
    border-radius: 10px;
    grid-gap: 20px;
}

.Tipos{
    border: transparent;
    border-radius: 5px;
    align-items: center;
    padding: 0 10px ;
    text-align: center;   
}

.Items{
    border: transparent;
    border-radius: 5px;
    align-items: center;
    padding: 0 10px ;
    text-align: center;   
}

.Menu_Images{
    width: max-content;
    border-radius: 10px;
}

.footer{
    background-color: #17183B;
    height: 80px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0; 
    display: grid;
    grid-row: 1fr 1fr;
    justify-content: center;
}

.nav-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.nav-menu-footer{
    display: flex;
    margin-right: 40px;
    list-style: none;

}